[SimpleSyntax:V1.1]

Name: Ruby
Description: Ruby Script File
Icon: Image_Icon.png
ExampleCode: ExampleCode_Ruby.txt

# Commenter Configuration
Comment.Line: #
Comment.BlockPrefix:
Comment.BlockSuffix:

# FileType Configuration
FileType.Icon: Image_FileType.png
FileType.Extensions: rb, ruby
FileType.DefaultExtension: rb

# Syntax Configuration
SyntaxDefinition: TestConfig_Ruby.lexer

# Element Descriptions
descriptions[ BLOCK_COMMENT ] = Block comment
descriptions[ LINE_COMMENT ] = Line comment
descriptions[ DOC_COMMENT ] = Documentation

# Element Default Attributes
attributes[ BLOCK_COMMENT ] = #303030,BOLD,ITALIC
attributes[ LINE_COMMENT ] = #305030,BOLD,ITALIC
attributes[ DOC_COMMENT ] = #503030,BOLD,ITALIC
