[SimpleSyntax:V1.0]

Name: Ruby
Description: Ruby Script File
Icon: Image_Icon.png
ExampleCode: ExampleCode_Ruby.txt

# Commenter Configuration
Comment.Line: #
Comment.BlockPrefix:
Comment.BlockSuffix:

# FileType Configuration
FileType.Icon: Image_FileType.png
FileType.Extensions: rb, ruby
FileType.DefaultExtension: rb

# Syntax Configuration
regex BLOCK_COMMENT                 => (?m)^(?:\s*#.*$){2,}
regex LINE_COMMENT                  => (?m)#.*$
regex DOC_COMMENT                   => (?ms)^=begin$.*^=end$
regex SPECIAL_QUOTED_STRING         => %[qQ](.).*\1
regex SINGLE_QUOTED_STRING          => \'(?:[^\']|\\')*\'
regex DOUBLE_QUOTED_STRING          => \"(?:[^\"]|\\")*\"
regex OPERATOR                      => (?:\+|\-|=|%)
regex CLASS_NAME                    => (?:\p{javaUpperCase}\p{javaLowerCase}+)+
regex KEYWORD                       => (?:def|end|class|module)
regex KEYWORD                       => (?:require|load|module|struct)
regex CORE_FUNCTIONS                => (?:each)
regex IDENTIFIER                    => [\p{javaLowerCase}_]+

# Element Descriptions
descriptions[ BLOCK_COMMENT ] = Block comment
descriptions[ LINE_COMMENT ] = Line comment
descriptions[ DOC_COMMENT ] = Documentation

# Element Default Attributes
attributes[ BLOCK_COMMENT ] = #303030,BOLD,ITALIC
attributes[ LINE_COMMENT ] = #305030,BOLD,ITALIC
attributes[ DOC_COMMENT ] = #503030,BOLD,ITALIC
