[SimpleSyntax:V1.1]

# Stupid demo configuration for a Prolog highlighter.
# Unfortunately I have no clue about Prolog and I don't
# really know what to hilight etc.

# Script Support
ScriptClassPath: lib-groovy,lib-ruby

# General Settings
Name: Prolog
Icon: Prolog/Icon.png
Description: Prolog Configuration
ExampleCode: Prolog/Example.pl

# Braces Configuration
Braces.Pairs: (),[],{}

# Commenter Configuration
Comment.Line: %

# FileType Configuration
FileType.Icon: Prolog/Icon.png
FileType.Extensions: pl,prolog
FileType.DefaultExtension: pl

# Syntax Definition
SyntaxDefinition: Prolog/Syntax.groovy

# Element Descriptions
descriptions[ BLOCK_COMMENT ] = Block comment
descriptions[ LINE_COMMENT ] = Line comment
descriptions[ IDENTIFIER ] = Identifier
descriptions[ NAME ] = Name
descriptions[ STRING ] = String
descriptions[ KEYWORD ] = Keyword
descriptions[ NUMBER ] = Number

# Element Default Attributes
attributes[ BLOCK_COMMENT ] = #008000
attributes[ LINE_COMMENT ] = #008000
attributes[ IDENTIFIER ] = #0000A0
attributes[ NAME ] = UNDERLINE,#30A0A0
attributes[ STRING ] = #808000
attributes[ KEYWORD ] = BOLD,#800000
attributes[ NUMBER ] = #F000F0
