[SimpleSyntax:V1.1]

# Script Support
ScriptClassPath: lib-groovy,lib-ruby

# General Settings
Name: Python
Icon: Python/Icon.png
Description: Python Script
ExampleCode: Python/ExampleCode.py

# Braces Configuration
Braces.Pairs: (),[]

# Commenter Configuration
Comment.Line: #

# FileType Configuration
FileType.Icon: Python/Icon.png
FileType.Extensions: py, python
FileType.DefaultExtension: py

# Names Validator Configuration (NOT USED YET)
#NamesValidator: Python/NamesValidator.groovy

# Syntax Definition
SyntaxDefinition: Python/Syntax.groovy

# Aggregate token types
aggregations[ KEYWORD ] = *KEYWORD,ASSERT_KEYWORD,BREAK_KEYWORD,CLASS_KEYWORD,CONTINUE_KEYWORD,DEF_KEYWORD,DEL_KEYWORD,ELIF_KEYWORD,ELSE_KEYWORD,EXCEPT_KEYWORD,EXEC_KEYWORD,FINALLY_KEYWORD,FOR_KEYWORD,FROM_KEYWORD,GLOBAL_KEYWORD,IF_KEYWORD,IMPORT_KEYWORD,IN_KEYWORD,IS_KEYWORD,LAMBDA_KEYWORD,NOT_KEYWORD,OR_KEYWORD,PASS_KEYWORD,PRINT_KEYWORD,RAISE_KEYWORD,RETURN_KEYWORD,TRY_KEYWORD,WHILE_KEYWORD,YIELD_KEYWORD
aggregations[ OPERATOR ] = PLUSEQ,MINUSEQ,EXPEQ,MULTEQ,FLOORDIVEQ,DIVEQ,PERCEQ,ANDEQ,OREQ,XOREQ,GTGTEQ,LTLTEQ,LTLT,GTGT,EXP,FLOORDIV,LE,GE,EQEQ,NE,NE_OLD,PLUS,MINUS,MULT,DIV,PERC,AND,OR,XOR,TILDE,LT,GT,LPAR,RPAR,LBRACKET,RBRACKET,LBRACE,RBRACE,AT,COMMA,COLON,DOT,TICK,EQ,SEMICOLON,BACKSLASH
aggregations[ NUMBER ] = INTEGER_LITERAL,FLOAT_LITERAL,IMAGINARY_LITERAL

# Element Descriptions
descriptions[ END_OF_LINE_COMMENT ] = End of line comment
descriptions[ STRING_LITERAL ] = String literal
descriptions[ OPERATOR ] = Operator
descriptions[ KEYWORD ] = Keyword
descriptions[ IDENTIFIER ] = Identifier
descriptions[ NUMBER ] = Number

# Element Default Attributes
attributes[ END_OF_LINE_COMMENT ] = #008000
attributes[ STRING_LITERAL ] = #008080
attributes[ KEYWORD ] = #7070FF
attributes[ NUMBER ] = #800080
