[SimpleSyntax:V1.0]

Name: Ruby
Icon: Ruby.png
ExampleCode: Ruby.rb
Description: Ruby Script

# Braces Configuration
Braces.Pairs: (),[]
Braces.Structural: {}

# Commenter Configuration
Comment.Line: #
Comment.BlockPrefix:
Comment.BlockSuffix:

# FileType Configuration
FileType.Icon: Ruby.png
FileType.Extensions: rb, ruby
FileType.DefaultExtension: rb

# Syntax Configuration (using codified tokens)
#ruby  BLOCK_COMMENTS                => tags/BLOCK_COMMENTS.rb
#ruby  DOC_COMMENTS                  => tags/DOC_COMMENTS.rb
#ruby  SPECIAL_QUOTED_STRINGS        => tags/SPECIAL_QUOTED_STRINGS.rb
#ruby  OPERATORS                     => tags/OPERATORS.rb
#ruby  CORE_FUNCTIONS                => tags/CORE_FUNCTIONS.rb

# Syntax Configuration
regex BLOCK_COMMENTS                => (?m:\s*[\n\r][ \t]*#.*$)
regex LINE_COMMENTS                 => (?m:#.*$)
regex SPECIAL_QUOTED_STRINGS        => %[qQ]\{(?:(?:\\\})|(?:[^\}]))*\}
regex SPECIAL_QUOTED_STRINGS        => %[qQ]\[(?:(?:\\\])|(?:[^\]]))*\]
regex SPECIAL_QUOTED_STRINGS        => %[qQ]\((?:(?:\\\))|(?:[^\)]))*\)
regex SPECIAL_QUOTED_STRINGS        => %[qQ](.).*\1
regex SINGLE_QUOTED_STRINGS         => \'(?:[^\']|\\')*\'
regex DOUBLE_QUOTED_STRINGS         => \"(?:[^\"]|\\")*\"
regex KEYWORDS                      => \b(?:alias|and|BEGIN|begin|break|case|class|def|defined|do|else|elsif|END|end|ensure|false|for|if|in|module|next|nil|not|or|redo|rescue|retry|return|self|super|then|true|undef|unless|until|when|while|yield)\b
regex CONSTANTS                     => \b[A-Z][A-Z_]*\b
regex CLASS_NAMES                   => \b[A-Z]*(?:(?:[A-Z][a-z_]+)|[A-Z])+\b
regex CLASS_VARIABLE                => @@[a-z_]+\b
regex INSTANCE_VARIABLE             => @[a-z_]+\b
regex SYMBOLS                       => \:\w+\b
regex IDENTIFIERS                   => \b[a-z]\w*\b
regex NUMBERS                       => \b(?:0x[0-9A-Fa-f]+)|(?:[0-9]+(?:\.[0-9]+)?)\b

# Element Descriptions
descriptions[ BLOCK_COMMENTS ] = Block comment
descriptions[ LINE_COMMENTS ] = Line comment
descriptions[ DOC_COMMENTS ] = Documentation
descriptions[ SPECIAL_QUOTED_STRINGS ] = Special Quoted String
descriptions[ SINGLE_QUOTED_STRINGS ] = Single Quoted String
descriptions[ DOUBLE_QUOTED_STRINGS ] = Double Quoted String
descriptions[ OPERATORS ] = Operator
descriptions[ KEYWORDS ] = Keyword
descriptions[ CORE_FUNCTIONS ] = Core Function
descriptions[ CONSTANTS ] = Constant
descriptions[ CLASS_NAMES ] = Class Name
descriptions[ CLASS_VARIABLE ] = Class Variable
descriptions[ INSTANCE_VARIABLE ] = Instance Variable
descriptions[ SYMBOLS ] = Symbols
descriptions[ IDENTIFIERS ] = Identifier
descriptions[ NUMBERS ] = Number

# Element Default Attributes
attributes[ BLOCK_COMMENTS ] = #008000
attributes[ LINE_COMMENTS ] = #008000
attributes[ DOC_COMMENTS ] = #008000,BOLD
attributes[ SPECIAL_QUOTED_STRINGS ] = #008080
attributes[ SINGLE_QUOTED_STRINGS ] = #008080
attributes[ DOUBLE_QUOTED_STRINGS ] = #008080
attributes[ KEYWORDS ] = #7070FF
attributes[ CONSTANTS ] = #800080
attributes[ SYMBOLS ] = #101060
attributes[ NUMBERS ] = #800080
