[SimpleSyntax:V1.0]

Name: Ruby
Icon: Ruby.png
ExampleCode: Ruby.rb
Description: Ruby Script

# Braces Configuration
Braces.Pairs: (),[]
Braces.Structural: {}

# Commenter Configuration
Comment.Line: #
Comment.BlockPrefix:
Comment.BlockSuffix:

# FileType Configuration
FileType.Icon: Ruby.png
FileType.Extensions: rb, ruby
FileType.DefaultExtension: rb

# Syntax Configuration
ruby  BLOCK_COMMENTS                => tags/BLOCK_COMMENTS.rb
regex LINE_COMMENTS                 => (?m)#.*$
ruby  DOC_COMMENTS                  => tags/DOC_COMMENTS.rb
ruby  SPECIAL_QUOTED_STRINGS        => tags/SPECIAL_QUOTED_STRINGS.rb
regex SINGLE_QUOTED_STRINGS         => \'(?:[^\']|\\')*\'
regex DOUBLE_QUOTED_STRINGS         => \"(?:[^\"]|\\")*\"
ruby  OPERATORS                     => tags/OPERATORS.rb
ruby  KEYWORDS                      => tags/KEYWORDS.rb
ruby  CORE_FUNCTIONS                => tags/CORE_FUNCTIONS.rb
regex CLASS_NAMES                   => [A-Z_]*(?:[A-Z][a-z]+)+
regex CLASS_VARIABLE                => @@[a-z_]+
regex INSTANCE_VARIABLE             => @[a-z_]+
regex SYMBOLS                       => :\w+
regex IDENTIFIERS                   => [a-z]\w*
regex NUMBERS                       => (?:0x[0-9A-Fa-f]+)|(?:[0-9]+(?:\.[0-9]+)?)
regex CONSTANTS                     => [A-Z][A-Z_]*

# Element Descriptions
descriptions[ BLOCK_COMMENTS ] = Block comment
descriptions[ LINE_COMMENTS ] = Line comment
descriptions[ DOC_COMMENTS ] = Documentation
descriptions[ SPECIAL_QUOTED_STRINGS ] = Special Quoted String
descriptions[ SINGLE_QUOTED_STRINGS ] = Single Quoted String
descriptions[ DOUBLE_QUOTED_STRINGS ] = Double Quoted String
descriptions[ OPERATORS ] = Operator
descriptions[ KEYWORDS ] = Keyword
descriptions[ CORE_FUNCTIONS ] = Core Function
descriptions[ CLASS_NAMES ] = Class Name
descriptions[ CLASS_VARIABLE ] = Class Variable
descriptions[ INSTANCE_VARIABLE ] = Instance Variable
descriptions[ SYMBOLS ] = Symbols
descriptions[ IDENTIFIERS ] = Symbols
descriptions[ NUMBERS ] = Numbers
descriptions[ CONSTANTS ] = Constants

# Element Default Attributes
attributes[ BLOCK_COMMENTS ] = #008000
attributes[ LINE_COMMENTS ] = #008000
attributes[ DOC_COMMENTS ] = #008000,BOLD
attributes[ SPECIAL_QUOTED_STRINGS ] = #008080
attributes[ SINGLE_QUOTED_STRINGS ] = #008080
attributes[ DOUBLE_QUOTED_STRINGS ] = #008080
#attributes[ CLASS_NAMES ] = ITALIC
attributes[ KEYWORDS ] = #7070FF
attributes[ SYMBOLS ] = #101060
attributes[ NUMBERS ] = #800080
attributes[ CONSTANTS ] = #800080
