[SimpleSyntax:V1.1]

Name: Ruby
Icon: Ruby.png
ExampleCode: Ruby.rb
Description: Ruby Script

# Braces Configuration
Braces.Pairs: (),[]
Braces.Structural: {}

# Commenter Configuration
Comment.Line: #
Comment.BlockPrefix:
Comment.BlockSuffix:

# FileType Configuration
FileType.Icon: Ruby.png
FileType.Extensions: rb, ruby
FileType.DefaultExtension: rb

# Syntax Definition
SyntaxDefinition: Ruby.groovy

# Element Descriptions
descriptions[ LINE_COMMENT ] = Line comment
descriptions[ DOC_COMMENT ] = Documentation
descriptions[ SPECIAL_QUOTED_STRING ] = Special Quoted String
descriptions[ SINGLE_QUOTED_STRING ] = Single Quoted String
descriptions[ DOUBLE_QUOTED_STRING ] = Double Quoted String
descriptions[ REGEX_SLASHED ] = Regular Expression using /
descriptions[ OPERATOR ] = Operator
descriptions[ KEYWORD ] = Keyword
descriptions[ CONSTANT ] = Constant
descriptions[ CLASS_NAME ] = Class Name
descriptions[ CLASS_VARIABLE ] = Class Variable
descriptions[ INSTANCE_VARIABLE ] = Instance Variable
descriptions[ SYMBOL ] = Symbols
descriptions[ IDENTIFIER ] = Identifier
descriptions[ NUMBER ] = Number

# Element Default Attributes
attributes[ LINE_COMMENT ] = #008000
attributes[ DOC_COMMENT ] = #008000,BOLD
attributes[ SPECIAL_QUOTED_STRING ] = #008080
attributes[ SINGLE_QUOTED_STRING ] = #008080
attributes[ DOUBLE_QUOTED_STRING ] = #008080
attributes[ REGEX_SLASHED ] = #400080,BOLD
attributes[ KEYWORD ] = #7070FF
attributes[ CONSTANT ] = #800080
attributes[ SYMBOL ] = #101060
attributes[ NUMBER ] = #800080
