[SimpleSyntax:V1.1]

# Script Support
ScriptClassPath: lib-groovy,lib-ruby

# General Settings
Name: SimpleSyntax
Icon: SimpleSyntax/Icon.png
Description: SimpleSyntax Configuration
ExampleCode: SimpleSyntax/Example.config

# Braces Configuration
Braces.Pairs: []

# Commenter Configuration
Comment.Line: #

# FileType Configuration
FileType.Icon: SimpleSyntax/Icon.png
FileType.Extensions: config
FileType.DefaultExtension: config

# Syntax Definition
SyntaxDefinition: SimpleSyntax/Syntax.groovy

# Element Descriptions
descriptions[ LINE_COMMENT ] = Line comment
descriptions[ IDENTIFIER ] = Identifier
descriptions[ ASSIGNMENT ] = Assignment
descriptions[ VALUE ] = Value

# Element Default Attributes
attributes[ LINE_COMMENT ] = #008000
attributes[ IDENTIFIER ] = #800080
attributes[ ASSIGNMENT ] = #808000
attributes[ VALUE ] = #800000
